* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    border: 3px solid black;
    padding: 20px;
    display: flex;
    width: 30%;
    aspect-ratio: 0.7;
    justify-content: space-around;
    flex-direction: column;

}

#display {
    border: 1px solid black;
    text-align: right;
    margin-bottom: 10px;
    padding: 5px;
    flex: 1;
}

#operands {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    flex: 7;
    gap: 10px;

}

#calculator button {
    flex: 1 1 calc(25% - 10px);
    aspect-ratio: 1;
}